/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.alt-header {
    margin-top: 96px;
    margin-bottom: 48px;
    display: none;
    text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'Comfortaa', cursive;
  padding-bottom: 8px;
}

/* CUSTOMIZE THE NAVIGATION
-------------------------------------------------- */

.nav img {
    margin-right: 4px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  background: rgba(50,50,50,.5);
  bottom: 3rem;
}

.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 20px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  min-width: 100%;
  object-fit: cover;
}

.second-slide {
  top: -600px;
}

.third-slide {
  top: -200px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 1260px) {
  .carousel {
     display: none;
  }
  .alt-header {
    display: block;
  }
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 4rem;
  }
}
